%% vim: set ft=erlang:

% This file provides rebar3 build instructions for the POSIX version.

{ erl_opts, [ debug_info ] }.

{ deps, [] }.


{ plugins, [

    { pc, { git, "https://github.com/blt/port_compiler.git", { tag, "v1.9.1" } } }

] }.

{ provider_hooks, [

    { pre, [

        { compile, { pc, compile }},
        { clean, { pc, clean }}

    ] }

] }.

{ port_env, [

    { "CFLAGS", "$CFLAGS -Wall -O2 -g -ggdb" }

] }.

{ port_specs, [

    { "priv/bin/serial_esock", [
		"c_src/erlang_serial.c",
		"c_src/posix/posix_main.c"
    ] }

] }.
